{{- define "main" -}}

<article>
  <header class="mb-14">
    <h1 class="my-0! pb-2.5">{{- .Title -}}</h1>

  <!-- Post Tags: between title and metadata -->
    {{- if .Params.tags -}}
    <footer class="mb-4 flex flex-wrap">
  {{- range .Params.tags -}}
  {{- $href := print (absURL "tags/") (urlize .) -}}
  <a class="tag" href="{{- $href -}}">
    {{- . -}}
  </a>
  {{- end -}}
</footer>
        {{- end -}}

    {{- if ne .Type "page" -}}
    <div class="text-xs antialiased opacity-60">
      {{- if .Date -}}
      <time>{{- .Date | time.Format ":date_medium" -}}</time>
      {{- end -}}<!---->
      {{- $single_author := or .Params.Author site.Author.name -}}
      <!---->
      {{- if $single_author -}}
      <span class="mx-1">&middot;</span>
      <span>{{- $single_author -}}</span>
      {{- end -}}
    </div>
    {{- end -}}
  </header>


  <!-- Show Table of Contents if it exists -->
  {{ if .TableOfContents }}
  <nav class="toc">
    {{ .TableOfContents | safeHTML }}
  </nav>
  {{ end }}


  <section>{{- .Content -}}</section>

  


</article>

{{- end -}}
